.catalog
  padding-bottom: 157px
  &-container
  &__body
    display: flex
  &-title
    margin-bottom: 47px
  &__filters
    width: 267px
    margin-right: 29px
    &-mobile
      display: none
    &-body
      border-radius: 5px
      background-color: #282b30
      height: fit-content
      width: 100%
      padding: 25px 12px 31px 19px
      &__parameter
        border-bottom: 1px solid #39393b
        padding-bottom: 16px
        margin-top: 15px
        &:first-child
          margin-top: 0
      &__btn
        &-apply
          padding: 12px 74px
          margin-top: 36px
          color: #232426
          font-size: 15px
          font-weight: 700
          width: 100%
          margin-bottom: 15px
        &-cancel
          padding: 12px 74px
          color: #606061
          font-family: Roboto
          font-size: 15px
          font-weight: 500
          text-transform: inherit
          width: 100%
    .information__search-form
      margin-bottom: 51px
    .information__search-input
      width: 100%
      z-index: 1
      border-radius: 20px
      background-color: #39393b
  &__figurines
    flex: 1
    &-filters
      &-mobile
        display: none
  &__figurines-header
    display: flex
    justify-content: space-between
    margin-bottom: 51px
  &__figuries-items
    flex-wrap: wrap
    display: flex
    justify-content: space-between
    margin-bottom: 50px
  &__figurines-pages
    display: flex
    justify-content: center
    align-items: center
.figurines-pages__cicle
  width: 45px
  height: 45px
  border-radius: 50%
  border: 1px solid #5c5c5f
  color: #ffffff94
  font-size: 20px
  font-weight: 300
  display: flex
  justify-content: center
  align-items: center
  transition: 0.3s
  &:hover
    border: 1px solid #fff
    background-color: $accent
    color: #000
.figurines-pages-number-avtive
  background-color: $accent
  color: #000
.figurines-pages__numbers
  display: flex
  justify-content: center
  align-items: center
.figurines-pages-number
  margin: 0 9px
.figurines-pages__next
  margin-left: 35px
  border: 1px solid #ffffff
  svg
    transform: rotate(90deg)
.figurines-pages__prev
  margin-right: 35px
  border: 1px solid #ffffff
  svg
    transform: rotate(-90deg)
.more
  display: none
.catalog__filters-body__range
  margin-top: 20px
.range-title
  margin-bottom: 11px
  font-size: 17px
  font-weight: 400
  padding-left: 28px
.easy-basket-filter
  height: 40px
.filters-body__prices
  display: flex
  justify-content: space-between
  align-items: center
  input
    border-radius: 14px
    background-color: #39393b
    padding: 7px 15px
    width: 70px
    border: none
    color: #ffffff
    font-size: 15px
    display: flex
    justify-content: center
    align-items: center
    text-align: center
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none
    margin: 0

.filters-body__accord-input
  display: none
  &:checked
    + .filters-body__accord-label
      color: $accent
      margin-bottom: 15px
      + .filters-body__accord-body
        max-height: 500px
        opacity: 1
      .select-box__icon
        transform: translateY(-50%) rotate(180deg)
        border: 1px solid #fff40c
        background-color: #fff40c

.filters-body__accord-label
  padding-left: 28px
  position: relative
  cursor: pointer
  display: block
  transition: 0.3s
  margin-bottom: 0
  .select-box__icon
.filters-body__accord-body
  max-height: 0
  transition: 0.3s
  opacity: 0
  overflow-y: scroll
  overflow-x: hidden
  .cbx
    margin-bottom: 9px
    display: block
    &:last-child
      margin-bottom: 0

.catalog__figurines-filters
  display: flex
  flex: 1
  &__result
    color: $accent
    margin-right: 15px
    min-width: 133px
  &-choice
    display: flex
    flex-wrap: wrap
  &-item
    border-radius: 21px
    background-color: #383b3f
    padding: 8px 18px 8px 18px
    font-family: Roboto
    font-size: 15px
    font-weight: 400
    text-transform: uppercase
    margin: 0 9px 10px 0
    button
      margin-right: 10px
      svg
        width: 12px
        height: 12px

@media (max-width:1680px)
@media (max-width:1440px)
@media (max-width:1366px)
@media (max-width:1280px)
@media (max-width:1024px)
@media (max-width:960px)
@media (max-width:800px)
  .catalog
    &__figurines
      &-header
      &-filters
        flex-wrap: wrap
        &__result
          width: 100%
          display: flex
          align-items: baseline

        &-mobile
          display: block
          color: $accent
          padding: 8px 15px
          font-size: 16px
          border-radius: 19px
          background-color: #282b30
          margin-right: 23px
          margin-bottom: 38px
        &-choice
    &__filters
      display: none
      position: absolute
      top: 0
      left: 0
      width: 100vw
      z-index: 20
      background-color: #232426
      padding: 49px 16px
      &-mobile
        display: flex
        justify-content: space-between
        margin-bottom: 31px
      &-title
        color: $accent
        font-family: Roboto
        font-size: 20px
        font-weight: 400
        text-transform: uppercase
      &-close
        font-size: 15px
        font-weight: 700
        padding: 6px 20px
  .catalog__select-box
@media (max-width:576px)
  .catalog
    &__figurines
      width: 100%
      &-pages__numbers

      &-header
        justify-content: flex-start
      &-filters
        flex: inherit
        &-mobile
          margin: 0
        &__result
          margin: 0
          p
            display: none
        &-choice
          display: none
  .figurines-pages-number
    &:nth-of-type(2)
      display: none
    &:nth-of-type(3)
      display: none
    &:nth-of-type(4)
      display: none
@media (max-width:420px)
@media (max-width:375px)
@media (max-width:320px)
