.faq
  &-container
    position: relative
    height: 100%
    padding-top: 57px
    padding-bottom: 115px
  &__back-img
    position: absolute
    right: 115px
    bottom: 0
    width: 25vw
  &-title
    font-size: 30px
    margin-bottom: 51px
  &__accordion
    width: 46%

@media (max-width:1680px)

@media (max-width:1440px)

@media (max-width:1366px)
  .faq__back-img
    width: 40vw
@media (max-width:1280px)

@media (max-width:1024px)
  .faq__accordion
    width: 55%
@media (max-width:960px)
  .faq__accordion
    width: 100%
  .faq__back-img
    display: none
@media (max-width:768px)
  .faq
    &-title
      font-size: 25px
      margin-bottom: 35px
@media (max-width:576px)

@media (max-width:420px)

@media (max-width:375px)

@media (max-width:320px)
