.footer
  background-color: $accent
  padding: 47px 0 54px 0
  color: #282b30
  &__top
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 88px
  &__top-img
    width: 229px
  &__top-social-nets
    display: flex
  &-social-nets__item
    background-color: #232426
    transition: 0.3s
    svg
      fill: #fff
    &:hover
      background-color: #55585e

.footer__site-map
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: flex-start
  font-family: Roboto
  font-size: 17px
  font-weight: 400
.site-map__column
  display: flex
  flex-direction: column
  margin-right: 5px
  &:last-child
    margin-right: 0
  &-title
    font-size: 20px
    font-weight: 700
    margin-bottom: 15px
  &-link
    color: #282b30
    margin-bottom: 6px
    font-weight: 400
    &:last-child
      margin-bottom: 0
.footer__payment
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  margin-top: 36px
  &-copyrights
    font-family: Roboto
    font-size: 16px
    font-weight: 400
  &-methods
    display: flex
    flex-wrap: wrap
  &-img
    margin-left: 11px

@media (max-width:1680px)

@media (max-width:1440px)
  .footer__site-map
    font-size: 15px
  .site-map__column-title
    font-size: 18px
  .footer__payment-copyrights
    font-size: 14px
  .footer__top
    margin-bottom: 80px
@media (max-width:1366px)
  .footer__top
    margin-bottom: 70px
@media (max-width:1280px)
  .footer__top
    margin-bottom: 60px
@media (max-width:1024px)
  .footer__top
    margin-bottom: 50px
@media (max-width:960px)
  .footer__top
    margin-bottom: 40px
@media (max-width:768px)
  .footer__top
    margin-bottom: 30px
@media (max-width:576px)
  .site-map__column
    margin-bottom: 20px
    min-width: 158px
    margin-right: 10px
  .footer__payment
    flex-direction: column
    align-items: flex-start
    width: auto
    min-width: 158px
    margin-top: 0px
    margin-right: 10px
  .footer__payment-methods
    width: 150px
    justify-content: space-between
  .footer__payment-img
    margin-left: 0
    margin-bottom: 13px
  .footer__payment-copyrights
    margin-bottom: 20px
@media (max-width:420px)
  .footer__top-img
    width: 184px
@media (max-width:375px)
  .site-map__column-title
    font-size: 17px
  .footer__site-map
    font-size: 13px
  .site-map__column,.footer__payment
    min-width: 150px
  .footer__top-img
    width: 165px
@media (max-width:320px)
