.white__link
  position: relative
  &::after
    content: ''
    position: absolute
    left: 0
    bottom: -8px
    border-radius: 2px
    width: 100%
    height: 0px
    background-color: $accent
    transition: 0.3s
.white__link:hover::after
  height: 3px

.social-net
  width: 38px
  height: 38px
  display: block
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  margin-left: 12px
  svg
    width: 22px
    height: 22px
    opacity: 0.7

.yellowColor
  color: #fff40c

.btn-main
  border-radius: 31px
  background-color: $accent
  padding: 23px 38px
  color: #232426

.title
  font-family: "EuropeExt"
  font-weight: 700

.show-more__btn
  padding: 28px 122px
  border: 1px solid #545a64
  border-radius: 33px
  font-size: 18px
  font-family: Roboto
  font-weight: 400
  color: #939397
  text-transform: uppercase
  &:hover
  &:active

.card-btn
  padding: 10px 23px
  border-radius: 17px
  background-color: #413f4f
  transition: 0.3s
  color: #ffffff
  &:hover
    background-color: #232426
  &:active
