.main
  padding: 55px 0px 0 0px
  &-title
    font-size: 30px
    font-weight: 700
    text-align: center
    margin-bottom: 23px
  &__filters
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 50px
  &__cards-items
    display: flex
    flex-wrap: wrap
    margin-bottom: 75px
    justify-content: space-between
  &__add-cards
    display: flex
    justify-content: center
    margin-bottom: 106px
  &-subtitle
    margin-bottom: 69px
    text-align: center
  &__popular-category
    margin-bottom: 50px
  &__double
    display: flex
    justify-content: space-between
    margin-bottom: 60px
    &-item
      display: flex
      flex-direction: column
      justify-content: center
      padding: 0 37px 0 37px
      width: 48%
      height: 285px
      background-repeat: no-repeat
      background-position: 0 0
      background-size: cover
    &-title
      font-family: Roboto
      font-size: 22px
      font-weight: 700
      margin-bottom: 20px
    &-btn
      font-family: Roboto
      font-size: 14px
      font-weight: 600
      padding: 11px 29px
      max-width: 159px

.popular-category__slider
  display: flex
  justify-content: center

.slider__card
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  position: relative
  margin: 0 8px
  padding: 31px 16px 26px 16px
  width: 195px
  height: 100px
  background-repeat: no-repeat
  background-size: cover
  &:hover
    cursor: pointer
  &:last-child
    margin-right: 0
  &-img
    height: 103px
    position: absolute
    right: 20px
    bottom: 10px
  &-title
    color: #ffffff
    font-family: Roboto
    font-size: 12px
    font-weight: 700
    margin-bottom: 9px
  &-btn
    font-size: 9px
  &:hover
    .slider__card-title
      color: $accent

.slick-initialized .slick-slide
  display: flex

@media (max-width:1680px)
  .main__double-item
    height: 275px
  .main__double-btn
    padding: 12px 28px
@media (max-width:1440px)
  .main__cards-items
    .card-btn__buy
      padding: 13px 56px
  .main__double-item
    height: 265px
  .main__double-btn
    padding: 12px 27px
@media (max-width:1366px)
  .main__double-item
    height: 255px
  .main__double-title
    font-size: 21px
@media (max-width:1280px)
  .main__double-item
    height: 245px
  .main__double-btn
    padding: 12px 26px
@media (max-width:1024px)
  .main__double-item
    height: 235px
  .main__double-title
    font-size: 20px
@media (max-width:960px)
  .main__double-item
    height: 225px
  .main__double-title
    font-size: 19px
@media (max-width:768px)
  .main__double-item
    background-position: center center
  .main__double-item
    height: 215px
  .main__double-title
    font-size: 18px
  .main__double-btn
    padding: 11px 25px
@media (max-width:640px)
  .main__double
    &-item
      height: 205px
      margin-bottom: 20px
    &-title
      font-size: 17px
    &-btn
      padding: 11px 24px
@media (max-width:576px)
  .main__double
    flex-direction: column
    &-item
      width: 100%
  .main__double-item
    height: 195px
  .main__double-btn
    padding: 11px 23px
@media (max-width:480px)
  .main__double-item
    height: 185px
  .main__double-title
    font-size: 16px
  .main__double-btn
    padding: 11px 22px
@media (max-width:375px)
  .main
    padding: 7px 0px 0px
    &-title
      font-size: 26px
      line-height: 1.2
    &__cards-items
      margin-bottom: 55px
    &__popular-category
      margin-bottom: 30px
    &__double
      &-item
        height: 181px
        padding: 0px 137px 0px 15px
        margin-bottom: 15px
        &:nth-of-type(2)
          margin-bottom: 45px
      &-title
        font-size: 15px
      &-btn
        padding: 10px 20px
  .slider__card
    width: 203px
@media (max-width:320px)
