.mobile-menu
  position: absolute
  top: 0
  right: 0
  height: 100%
  background-position-x: 50%
  background-repeat: no-repeat
  z-index: 500
  width: 100vw
  transform: translateX(100%)
  transition: 0.4s
  display: flex
  flex-direction: column
  align-items: flex-end
  &__content
    width: 55vw
    padding-top: 60px
    color: #000
    margin-right: 30px
    #menu-btn
      font-size: 15px
      text-transform: uppercase
      font-weight: 700
      width: fit-content
      margin-bottom: 20px
      &:hover
        &::after
          background-color: #000
    .header__top__information
      flex-wrap: wrap
      .information__link
        font-family: EuropeExt
        font-size: 16px
        margin-bottom: 5px
    .header__menu
      margin: 0
      &-nav
        display: flex
        flex-direction: column
        a
          margin-bottom: 10px
    a
      color: #000
    .information__logo-img
      display: none
    .information__search-form
      display: none
    .header__social-information-menu__link
      &::after
        background-color: #000
    .menu-nav__link
      &::after
        background-color: #000
    .information__link
      display: block
      &::after
        background-color: #000
    .basket-btn
      display: none
    #webapp_cover
      display: none
    .header__social-information-menu
      display: flex
      flex-direction: column
      a
        margin-bottom: 10px
    .social-nets__item
      margin-left: 0
    .header__top__basket
      display: none
    .header__social
      display: block
      margin-top: 30px
      &-nets
        justify-content: space-around
        position: absolute
        top: 80vh
        left: 35%
        width: 55%
      .social-nets__item
        background-color: #232426
        width: 40px
        height: 40px
        svg
          width: 25px
          height: 25px
          path
            fill: $accent
  &__close
    position: absolute
    top: 15px
    right: 15px
    svg
      width: 30px
      height: 30px
      path
        fill: #000

@media (max-width:375px)
  .mobile-menu__content
    width: 60vw
  .information__link
    margin-right: 15px
