
$accent: #f5e422 // Accent Color
$fontsize: 16px // Body Font Size
$bodybg: #232426 //background body
$textcolor: #ffffff // Text Color
$lineheight: 1.65 // Document Line Height
$userfont: Roboto, sans-serif // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family
$container: 1220px //width container

@mixin font($fname, $fstyle, $fweight, $furl)
  @font-face
    font-family: $fname
    font-style: $fstyle
    font-weight: $fweight
    src: url($furl) format('woff')

@include font('EuropeExt', normal, 700, '../fonts/EuropeExt-Bold.woff')
@include font('RobotoCondensed', normal, 400, '../fonts/RobotoCondensed-Regular.woff')
@include font('Rajdhani', normal, 400, '../fonts/Rajdhani/Rajdhani-Regular.woff')



::placeholder
  color: #fff

::selection
  background-color: $accent
  color: #232426

*
  box-sizing: border-box

html,body,ul,li,h1,h2,h3,h4,h5,h6,p
  margin: 0
  padding: 0

html,body
  min-width: 375px

::-webkit-scrollbar-button
  background-image: url('')
  background-repeat: no-repeat
  width: 6px
  height: 0px

::-webkit-scrollbar-track
  background-color: #39393b

::-webkit-scrollbar-thumb
  -webkit-border-radius: 0px
  border-radius: 0px
  background-color: $accent

::-webkit-scrollbar-thumb:hover
  background-color: $accent

::-webkit-resizer
  background-image: url('')
  background-repeat: no-repeat
  width: 4px
  height: 0px

::-webkit-scrollbar
  width: 4px

a
  text-decoration: none
  color: #fff

ul,li
  list-style: none

body
  font-family: $userfont
  font-size: $fontsize
  line-height: $lineheight
  color: $textcolor
  min-width: 375px
  position: relative
  overflow-x: hidden
  background-color: $bodybg

input, textarea
  outline: none

button
  cursor: pointer
  outline: none
  background: transparent
  border: none
  padding: 0

.container
  max-width: $container
  padding: 0 40px
  margin: 0 auto

@media (max-width:1680px)

@media (max-width:1440px)

@media (max-width:1366px)

@media (max-width:1280px)

@media (max-width:1024px)

@media (max-width:960px)

@media (max-width:768px)

@media (max-width:576px)
  .container
    padding: 0 20px
@media (max-width:420px)
  .container
    max-width: 375px
    padding: 0 10px
@media (max-width:375px)
  .container
    max-width: 340px
    padding: 0 10px
@media (max-width:320px)
